.title {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;

  @media (min-width: 410px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

label,
p {
  word-break: break-word;
}

.title-question {
  font-size: 1.4rem;
  line-height: 2rem;
}

.description {
  font-size: 1rem;
  line-height: 2rem;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
